

.title {
  width: 100%;
    height: 16px;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    color: #1d1d1f;
    justify-content: space-between;
    align-items: center;
    margin-top:80px;

  }
  .see {
    font-size: 20px;
    color: #ff4d23;
    padding:0x;
    font-weight: 510;

  }
  .see img{
    padding:0 10px;
  }

.cardsFeature {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-top: 30px;
  padding:50px;
  height:auto;
}
 #link {
  text-decoration: none;

 }
.card {
  display: flex;
  flex-direction: column;
  gap: 3.55px;
  width: 260px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  justify-content: end;
  transition: transform .2s;
  transition: transform 0.3s ease-in-out;
  text-decoration: none;
}
.card:hover {
  transform: scale(1.1);
  border:1px solid gray;
}
#carde{
  padding-right:12px;
  border-radius:8px;
}
.Featureimage {
  display: flex;
  justify-content: center;
  padding: 30px;
  width:210px;
  height:200px;
}

.Featurename {
  font-family: "Lato";
  font-size: 14px;
  color: #000000;
  line-height: 21px;
  padding: 0 12px;
}

.Featuredescription {
  font-family: "Lato";
  font-weight: 400;
  font-size: 10.7498px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #8d929b;
  padding: 0 12px;
}

.minidescription {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 21px;
  align-items: center;
  color: #000000;
  padding: 0 12px;
}

.stock {
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.textstock {
  font-family: "Lato";
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  color: #52a35a;
  padding: 0 4px;
}

.delivery {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12.5414px;
  line-height: 16px;
  color: #52a35a;
  padding: 0 29px;
}

.price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 21.4995px;
  line-height: 23px;
  display: flex;
  align-items: center;
  color: #ff4d23;
  padding: 4px 12px;
}

.whishlistCompare {
  font-family: "Lato";
  font-weight: 500;
  font-size: 11px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #000000;
  padding: 0 12px;
}
.whishlistCompare img{
  padding:0px 1px 8px 3px;

}

.textCompare, .textwish{
padding:0px 3px 8px 3px;
align-items:center;
}


.arrow-container {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.arrow {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 24px;
  margin: 0 16px;
  outline: none;
  transition: transform 0.3s ease-in-out;
}



.see:hover {
  transform: translateX(4px);
}